.footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background: #212121;
    
    li {
      &:nth-of-type(n+2) {
        margin-left: 8px;
      }
    }
    .about1{
      display: flex;
    }
    a {
      font-size: 18px;
      color: rgba(255, 255, 255, .5);
      transition: color .235s ease-in-out;
      
      &:focus,
      &:hover {
        color: rgba(255, 255, 255, .25);
      }
    }
  }
  .FlexContainer {
    display: flex;
    align-items: center;
  }
  
  .FlexContainer .Text {
    flex: 1;
  }
  
  .FlexContainer .ImageContainer {
    margin-left: 20px; /* Adjust the margin as per your preference */
  }
  .c1 img{
    width: 100%;
    height: 50%;
    margin-top: 10vh;
  }
  .feedback{
    display: flex;
    width: 100vw;
    gap: 50vw;
    margin-left: 5vw;
  }
  .c2{
    display: flex;
    flex-direction: column;
  }
  .Image1Container{
   
    display: flex;
    justify-content: center;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%; /* Enforce the maximum width of the images */
    max-height: 100%; /* Enforce the maximum height of the images */

  }

  .Flex2Container {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 5vw;

  }
  .Flex2Container p{
    width: 50vw;
    color: rgb(95, 94, 94);
    text-align: center;
    margin-left: 85px;
    margin-right: 105px;
    font-size: larger;
    background-color: #ffffff;
  }
  .Flex2Container .Text {
    flex: 1;
  }
  
  .Flex2Container .Image2Container {
    margin-right: 20px;
  }
  
  .Flex2Container img {
    max-width: 100%;
    height: auto;
  }
  
  .Image3Container{
   
    display: flex;
    justify-content: center;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%; /* Enforce the maximum width of the images */
    max-height: 100%; /* Enforce the maximum height of the images */

  }
  
  
  .Text {
    display: flex;
    align-items: center;
  }
  
  .Content {
    flex: 1;
  }
  
  .ImageContainer {
    margin-left: 20px; /* Adjust the margin as needed */
  }
  
  
  .Scrollabout {
    background-color: #ffffff;
  }
  
  .Abouth2 {
    font-size: 35px;
    font-weight: bolder;
    color: rgba(247,7,7,1);
    font-family: sans-serif;
    padding: 10px;
    margin-left: 80px;
    background-color: white;
  }
  
  .SubHeading{
    font-size: 25px;
    font-weight: bold;
    color: rgba(247,7,7,1);
    font-family: sans-serif;
    padding: 10px;
    margin-left: 80px;
    background-color: white;
  }
  
  .Text {
    color: rgb(95, 94, 94);
    text-align: center;
    margin-left: 85px;
    margin-right: 105px;
    font-size: larger;
    background-color: #ffffff;
  }
  
  #contact {
    background-color: #212121;
    padding: 20px;
    color: #fff;
    height: 450px; /* Adjust the height as needed */
  }
  
  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icons li {
    list-style-type: none;
    margin: 0 15px; /* Adjust the margin to increase/decrease the space between icons */
  }
  
  .social-icons li a {
    color: #fff;
    font-size: 80px; /* Adjust the font size to enlarge the icons */
  }
  
  .social-icons li a:hover {
    color: #6c63ff;
  }
  
  ul.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul.social-icons li {
    margin-right: 45px; /* Adjust the margin to increase/decrease the space between icons */
    margin-top: 170px;
  }
  
  ul.social-icons li:last-child {
    margin-right: 0;
  }
  