/* Start Global Rules */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
 

  
}

.info Button {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(11,27,27,1) 0%, rgba(247,7,7,1) 0%);
}
a {
  text-decoration: none;
}
.image img{
  width: 500%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

ul {
  list-style: none;
  
  padding: 0;
  margin: 0;
}
.landing-page{
 background-color:  #E0E5EC;
  font-family: 'Poppins', sans-serif;
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 15vh;

}

header{
  color:black
}
.container1 {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: 100px;
  margin-left: auto;
  background-color: #E0E5EC;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  margin-right: auto;
  width: 100%; /* Set container width to 100% */
  max-width: 90%; /* Set a maximum width if needed */
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 80%; /* Set container width to 100% */
  max-width: 90%; /* Set a maximum width if needed */
}


.logo-container {
  display: flex;
  align-items: center;

}

.logosize {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.text-size {
  font-size: smaller;
  color: rgb(89, 31, 251);
}

/* End Global Rules */

/* Start Landing Page */
.landing-page header {
  height: 80px;
  display: flex;
}

@media (max-width: 767px) {
  .landing-page header {
    min-height: auto;
    display: initial;
  }
}

.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .landing-page header .container {
    flex-direction: column;
    justify-content: center;
  }
}

.landing-page header .logo {
  color: #000000;
  font-style: normal;
  font-size: 30px;
}

@media (max-width: 767px) {
  .landing-page header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.landing-page header .links {
  display: flex;
  font-weight: 700;

  align-items: center;
}
.links{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .landing-page header .links {
    text-align: center;
    gap: 10px;
  }
}

.landing-page header .links li {
  margin-left: 30px;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
  transition: .3s;
}

@media (max-width: 767px) {
  .landing-page header .links li {
    margin-left: auto;
  }
}

.landing-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
}

.landing-page header .links li:not(:last-child):hover {
  color: #6c63ff;
}

.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
}

@media (max-width: 767px) {
  .landing-page .content .container {
    gap: 0;
    justify-content: center;
    flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px;
  }
}

.landing-page .content .info h1 {
  color: #000000;
  font-size: 44px;
}

.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #000000;
}

.landing-page .content .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #6c63ff;
}

.landing-page .content .image img {
  max-width: 100%;
}
/* End Landing Page */
.login-div {
  width:430px;
  border-radius:40px;
  padding: 60px 35px 35px 35px;
}
.prologo {
  width:100px;
  height:100px;
  background: url("https://pixlok.com/wp-content/uploads/2022/02/Profile-Icon-SVG-09856789.png%22");
  border-radius:50%;
  margin:0 auto;
  box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #ecf0f3,
    8px 8px 15px #a7aaaf, -8px -8px 15px #fff;

}
.title {
  text-align:center;
  font-size: 28px;
  padding-top:24px;
  letter-spacing:0.5px;

}
.sub-title {
  text-align:center;
  font-size:15px;
  padding-top:7px;
  letter-spacing:3px;
}
.fields {
  padding:75px 5px 5px 5px;
  width:100%;
}
.fields input {
  border:none;
  outline:none;
  background:none;
  font-size:18px;
  color:#555;
  padding:20px 10px 20px 5px;

}
.username,
.password {
    display: flex;
    align-items: center;
  margin-bottom:30px;
  border-radius:25px;
  box-shadow:inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}
.fields svg {
  height:22px;
  margin:0 10px -3px 25px;
}
.signing-button {
  border:none;
  cursor:pointer;
  outline:none;
  height:60px;
  width:100%;
  font-size:20px;
  border-radius:30px;
  font-weight:700;
  font-family: 'Poppins', sans-serif;
  color:#fff;
  text-align:center;
  background:#02c8db;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
  transition: all 0.5s ;
}
.signing-button:hover {
  background-color:#50e5b9;
}
.signing-button:active {
  background-color: #88ef9e;
}
.link {
  padding-top:20px;
  text-align:center;
}
.link a {
  text-decoration:none;
  color:#aaa;
  font-size:15px;
}
.login-div {
  width:430px;
  border-radius:40px;
  padding: 60px 35px 35px 35px;
  background:#ecf0f3;
}
.prologo {
  width:100px;
  height:100px;
  background: url("https://pixlok.com/wp-content/uploads/2022/02/Profile-Icon-SVG-09856789.png%22");
  border-radius:50%;
  margin:0 auto;
  box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #ecf0f3,
    8px 8px 15px #a7aaaf, -8px -8px 15px #fff;

}
.title {
  text-align:center;
  font-size: 28px;
  padding-top:24px;
  letter-spacing:0.5px;

}
.sub-title {
  text-align:center;
  font-size:15px;
  padding-top:7px;
  letter-spacing:3px;
}
.fields {
  padding:75px 5px 5px 5px;
  width:100%;
}
.fields input {
  border:none;
  outline:none;
  background:none;
  font-size:18px;
  color:#555;
  padding:20px 10px 20px 5px;

}
.username,
.password {
    display: flex;
    align-items: center;
  margin-bottom:30px;
  border-radius:25px;
  box-shadow:inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}
.fields svg {
  height:22px;
  margin:0 10px -3px 25px;
}
.signing-button {
  border:none;
  cursor:pointer;
  outline:none;
  height:60px;
  width:100%;
  font-size:20px;
  border-radius:30px;
  font-weight:700;
  font-family: 'Poppins', sans-serif;
  color:#fff;
  text-align:center;
  background:#6c63ff;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
  transition: all 0.5s ;
}
.signing-button:hover {
  background-color:#5f57fe;
}
.signing-button:active {
  background-color: #6c63ff;
}
.link {
  padding-top:20px;
  text-align:center;
}
.link a {
  text-decoration:none;
  color:#aaa;
  font-size:15px;
}

