@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat';
}
.lostpage-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  background-size: cover;

}

.form-container {
  width: 40%;
  height: fit-content;
  padding: 3%;
}

.lostpage-image {
  max-width: 50%;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.img-search
{
  width: 60%;
}


.form-heading {
  font-size: 37px;
  padding-bottom: 10px;
}

/* new code */

.form {
  font-size: 18px;
  outline: none;
  background: linear-gradient(to left top, rgba(212, 218, 230, 0.3), rgba(235, 244, 245, 0.3)) fixed;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  transition: all 0.5s;
}

.form:hover {
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.form:focus {
  border: 2px solid #FF0800;
  background: linear-gradient(to left top, rgba(255, 173, 173, 0.3), rgba(180, 131, 135, 0.3)) fixed;
}



.lost-people-form {
  display: flex;
  flex-direction: column;
}

.lost-people-form h2 {
  margin-bottom: 20px;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

.form-field {
  margin-bottom: 20px;
}

.btn {
  position: relative;
  background-color: rgb(230, 34, 77);
  border-radius: 5px;
  box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
  padding: 15px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 154px;
  height: 49px;
  color: #fff;
  border: none;
  font-size: 20px;
  transition: all .3s ease-in-out;
  z-index: 1;
  overflow: hidden;
  align-items: center;
}

.btn::before {
  content: "";
  background-color: rgb(248, 50, 93);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
}

.btn:hover::before {
  width: 100%;
}


.form-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-field input,
.form-field select,
.form-field textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-field textarea {
  resize: vertical;
  height: 100px;
}

.toggle-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.toggle-button {
  padding: 8px 16px;
  margin: 0 8px;
  background-color: var(--green-clr);
  border: none;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.2s;
}

.toggle-button.active {
  background-color: rgb(230, 34, 77);
  color: white;
}
